
<section class='container'>
  
  <div class='row justify-content-around'><h3 style='text-align: center; padding-top: 1em;'>My Posts</h3></div>
  
  
  <!-- >>>>FOR EACH PARTIAL<<<< -->
  {{#each posts as |post|}}
  <div class='row justify-content-around'>
    <article class='col-6'>
      <div class='row'>
        <div class='card text-white bg-secondary mb-3 col-md-s2' style='margin-top: 2em'>
          <a href='/post/{{post.id}}'><p style='font-weight: bolder; font-size: 1.5em;' class='card-header'>{{post.title}}</p></a>
          <p class="card-body">{{post.content}}</p>
          <p style='font-style: italic;'>Posted on <span style='font-weight: bold'>{{timestamps}}</span></p>
        </div>
      </div>
    </article>
  </div>
  {{/each}}
  <a href='/createpost'><button type="button" class="btn btn-primary">Add Post</button></a>
</section>